@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');
html {
    height: 100%;
}

.page {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    min-width: 300px;
    height: 100%;
}

/*.page__back {*/
/*    background-image: url("../img/ice.jpg");*/
/*    background-size: cover;*/
/*    opacity: 0.2;*/
/*    position: fixed;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    z-index: 0;*/
/*}*/

.visually-hidden {
    width: 0;
    height: 0;
    line-height: 0;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.page__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}

.page__logo {
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.albums {
    width: 100%;
    min-width: 300px;
    position: relative;
    background-color: black;
    color: white;
}

.albums__header,
.listen__header {
    min-width: 300px;
    text-align: center;
}

.page__notice {
    color: white;
    min-width: 300px;
    text-align: center;
    line-height: 40px;
    background-color: red;
    position: absolute;
    transform: rotate(-30deg);
    z-index: 2;
    left: -50px;
    top: 60px;
    padding: 0 100px;
}

.albums__list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.albums__item {
    min-width: 300px;
    background-color: black;
    color: white;
}

.albums__title {
    margin: 0;
}

.albums__cover {
    width: 100%;
    height: auto;
}

.songs-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.songs-list__song {
    margin: 0;
}

.songs-list__caption {
    font-weight: bold;
    margin-top: 10px;
}

audio {
    width: 100%;
}

.listen {
    width: 100%;
    min-width: 300px;
    position: relative;
    padding-bottom: 20px;
}

.listen__list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 60px;
}

.apple {
    width: 60px;
    height: 60px;
    display: block;
    background-image: url("../img/Apple_Music_Icon_RGB_lg_073120.svg");
    background-size: contain;
}

.spotify {
    width: 200px;
    height: 60px;
    display: block;
    background-image: url("../img/Spotify_Logo_RGB_Green.png");
    background-size: cover;
}

.vk {
    width: 60px;
    height: 60px;
    display: block;
    background-image: url("../img/VK_Compact_Logo.png");
    background-size: cover;
}

.vk:hover,
.spotify:hover,
.apple:hover {
    transform: scale(1.2);
}

@media (max-width: 420px) {
    .page__logo {
        width: 300px;
    }

    .albums__list {
        justify-content: center;
    }

    .albums__header,
    .listen__header,
    .page__notice {
        padding: 0 10px;
        font-size: 18px;
    }



    .listen__list {
        gap: 21px;
    }

    .vk {
        width: 42px;
        height: 42px;
    }

    .apple {
        width: 42px;
        height: 42px;
    }

    .spotify {
        width: 140px;
        height: 42px;
    }
}